/* ------- Drunk Sylvari GitHub pages ------- */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman';
    letter-spacing: 2px;
  font-weight: 200;
  color: #222;
  font-size: 11px;
}


h1 span {
  position: relative;
  animation: move-text-color 0.30s forwards;
  bottom: -1em;
  opacity: 0;
}

h1 span:first-child {
/*   animation: move-text-color 0.30s forwards; */
  animation-delay: 0.30s;
}

h1 span:nth-child(2){
/*   animation: move-text-color 0.60s forwards; */
  animation-delay: 0.60s;
}

h1 span:nth-child(3){
/*   animation: move-text-color 0.90s forwards; */
  animation-delay: 0.90s;
}

h1 span:nth-child(4){
/*   animation: move-text-color 1.20s forwards; */
  animation-delay: 1.20s;
}

h1 span:nth-child(5){
/*   animation: move-text-color 1.50s forwards; */
  animation-delay: 1.50s;
}

h1 span:nth-child(6){
/*   animation: move-text-color 1.80s forwards; */
  animation-delay: 1.80s;
}

h1 span:nth-child(7){
/*   animation: move-text-color 2.10s forwards; */
  animation-delay: 2.10s;
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: #2222224d;
  }
  
  50% {
    bottom: 0.2em;
    color: #22222299;
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: #222222ff;
  }
}
